@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sales Tax Professionals<br />
    Byron Center, MI 49315<br />
    <abbr title="Phone">P:</abbr>
    616.555.4444
</address>

