@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:15px;">
    <a class="btn btn-primary" href="Home/Results?example=1">Run Input 1</a>

    <a class="btn btn-primary" href="Home/Results?example=2">Run Input 2</a>

    <a class="btn btn-primary" href="Home/Results?example=3">Run Input 3</a>



</div>
